
:root{
    --primario:#f3e3d3;
    --secundario:#583d3c;
    --rosado:var(--primario);
    --cafe:var(--secundario);
    --rosado_claro:#f3e3d3;
    --cafe_claro:#ae8e7a;
    --blanco:#fff;
    --negro:#000;
}


*{
    margin: 0%;
    /* font-family:; la familia de fuentes*/
}

/* productos */

.carta{
    border: 2px #e6e6e6 solid;
    border-radius: 20px;
}

/* botones */

.btn{
    border-radius: 20px;
}

.btn-grande{
    border-radius: 20px;
    display: flex;
    width: 500px;
    height: 50px;
}

/* botones */
/* colores */

.primario{
    color:var(--primario);
}

.secundario{
    color: var(--secundario);
}

.rosado{
    color: var(--rosado);
}

.rosado-claro{
    color: var(--rosado_claro);
}

.cafe{
    color: var(--cafe);
}

.cafe-claro{
    color: var(--cafe_claro);
}

.blanco{
    color: var(--blanco);
}

.negro{
    color: var(--negro);
}

/* background */

.back-primario{
    background-color:var(--primario);
}

.back-secundario{
    background-color: var(--secundario);
}

.back-rosado{
    background-color: var(--rosado);
}

.back-rosado-claro{
    background-color: var(--rosado_claro);
}

.back-cafe{
   background-color: var(--cafe);
}

.back-cafe-claro{
    background-color: var(--cafe_claro);
}

.back-blanco{
    background-color: var(--blanco);
}

.back-negro{
    background-color: var(--negro);
}

/* colores */
