
:root{
    --primario:#f3e3d3;
    --secundario:#583d3c;
    --rosado:var(--primario);
    --cafe:var(--secundario);
    --rosado_claro:#f3e3d3;
    --cafe_claro:#ae8e7a;
    --blanco:#fff;
    --negro:#000;
}


*{
    margin: 0%;
    /* font-family:; la familia de fuentes*/
}

/* productos */

.carta{
    border: 2px #e6e6e6 solid;
    border-radius: 20px;
}

/* botones */

.btn{
    border-radius: 20px;
}

.btn-grande{
    border-radius: 20px;
    display: flex;
    width: 500px;
    height: 50px;
}

/* botones */
/* colores */

.primario{
    color:var(--primario);
}

.secundario{
    color: var(--secundario);
}

.rosado{
    color: var(--rosado);
}

.rosado-claro{
    color: var(--rosado_claro);
}

.cafe{
    color: var(--cafe);
}

.cafe-claro{
    color: var(--cafe_claro);
}

.blanco{
    color: var(--blanco);
}

.negro{
    color: var(--negro);
}

/* background */

.back-primario{
    background-color:var(--primario);
}

.back-secundario{
    background-color: var(--secundario);
}

.back-rosado{
    background-color: var(--rosado);
}

.back-rosado-claro{
    background-color: var(--rosado_claro);
}

.back-cafe{
   background-color: var(--cafe);
}

.back-cafe-claro{
    background-color: var(--cafe_claro);
}

.back-blanco{
    background-color: var(--blanco);
}

.back-negro{
    background-color: var(--negro);
}

/* colores */
/* configuraciones */

.p-1{
    padding: 1;
}

.p-2{
    padding: 2px;
}

.p-3{
    padding:3px;
}

.p-4{
    padding: 4px;
}

.p-5{
    padding: 5px;
}

.p-6{
    padding: 6px;
}

.p-7{
    padding:7px;
}

.p-8{
    padding: 8px;
}

.p-9{
    padding: 9px;
}

.p-10{
    padding: 10px;
}
/* configuraciones */
/* navevacio(personalizado) */

header{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 100px;
    align-items: center;
    z-index: 10;
    background-color: var(--rosado_claro);
}

.logo-nav img{
    display: flex;
    width: 40px;
    height: 41;
    margin-right: 700px;
    cursor: pointer;
    position: relative;
}



.navbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navbar li {
    list-style: none;
    margin: 5px 30px;
    text-decoration: none;
    color: var(--blanco);
}

.navbar li a{
    text-decoration: none;
    color: var(--cafe);
    font-size: 20px;
}

.navbar li a i{
    font-size: 30px;
}

/* navevacio(personalizado) */
